<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

    <xacro:macro name="moby_ros2_control" params="
        name
        moby_type
        prefix
        initial_positions
        sim_gazebo:=false">

        <ros2_control name="${name}" type="system">
        
            <hardware>
                <xacro:if value="${sim_gazebo}">
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </xacro:if>
                <xacro:unless value="${sim_gazebo}">
                    <plugin>fake_components/GenericSystem</plugin>
                    <param name="state_following_offset">0.0</param>
                </xacro:unless>
            </hardware>

            <xacro:macro name="arm_control_joint" params="joint_index">
                <joint name="${prefix}${joint_index}">
                    <command_interface name="position">
                        <param name="min">-6.283185</param>
                        <param name="max">6.283185</param>
                    </command_interface>
                    <command_interface name="velocity">
                        <param name="min">-3.141592</param>
                        <param name="max">3.141592</param>
                    </command_interface>
                    <!-- <state_interface name="position"/> -->
                    <state_interface name="position">
                        <param name="initial_value">${initial_positions[joint_index]}</param>
                    </state_interface>
                    <!-- <state_interface name="velocity"/> -->
                    <state_interface name="velocity">
                        <param name="initial_value">0.000000</param>
                    </state_interface>
                    <state_interface name="effort"/>
                </joint>
            </xacro:macro>

            <xacro:macro name="tract_wheel_control_joint" params="joint_index">
                <joint name="${prefix}${joint_index}">
                    <command_interface name="velocity">
                        <param name="min">-9.424778</param> <!--3pi-->
                        <param name="max">9.424778</param>
                    </command_interface>
                    <state_interface name="position"/>
                    <state_interface name="velocity">
                        <param name="initial_value">0.000000</param>
                    </state_interface>
                    <state_interface name="effort"/>
                </joint>
            </xacro:macro>

            <xacro:macro name="rot_wheel_control_joint" params="joint_index">
                <joint name="${prefix}${joint_index}">
                   <command_interface name="position">
                        <param name="min">-6.283185</param>
                        <param name="max">6.283185</param>
                    </command_interface>
                    <command_interface name="velocity">
                        <param name="min">-3.141592</param>
                        <param name="max">3.141592</param>
                    </command_interface>
                    <state_interface name="position">
                        <param name="initial_value">0.000000</param>
                    </state_interface>
                    <state_interface name="velocity">
                        <param name="initial_value">0.000000</param>
                    </state_interface>
                    <state_interface name="effort"/>
                </joint>
            </xacro:macro>

            <!-- <xacro:if value="${moby_type == 'moby_agri'}"> NOT SUPPORT AGRI
                <xacro:define_control_joint joint_index="right_tract_joint"/>
                <xacro:define_control_joint joint_index="left_tract_joint"/>
                <xacro:define_control_joint joint_index="camera_module_joint"/>
            </xacro:if> -->

            <xacro:if value="${moby_type == 'moby_rp' or moby_type == 'moby_rp_v3'}">
                <xacro:rot_wheel_control_joint joint_index="fl_rot_joint"/>
                <xacro:rot_wheel_control_joint joint_index="fr_rot_joint"/>
                <xacro:rot_wheel_control_joint joint_index="rl_rot_joint"/>
                <xacro:rot_wheel_control_joint joint_index="rr_rot_joint"/>
                <xacro:tract_wheel_control_joint joint_index="fl_tract_joint"/>
                <xacro:tract_wheel_control_joint joint_index="fr_tract_joint"/>
                <xacro:tract_wheel_control_joint joint_index="rl_tract_joint"/>
                <xacro:tract_wheel_control_joint joint_index="rr_tract_joint"/>

                <xacro:arm_control_joint joint_index="joint0"/>
                <xacro:arm_control_joint joint_index="joint1"/>
                <xacro:arm_control_joint joint_index="joint2"/>
                <xacro:arm_control_joint joint_index="joint3"/>
                <xacro:arm_control_joint joint_index="joint4"/>
                <xacro:arm_control_joint joint_index="joint5"/>
            </xacro:if>

        </ros2_control>

    </xacro:macro>

</robot>
